* {
    margin: 0%;
}

.mainbody {
    width: 100%;
}

.outputwindow {
    background-color: #f2f3cb;
    height: 500px;
    width: 60%;
    margin: 0 auto;
    color: #365279;
    border-radius: 20px;
}

#titleId,.titleclass {
    margin: 10px 0px 0px 280px;
}

.main {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

label {
    padding-left: 30px;
    font-size: large;
}

.classInput {
    margin-bottom: 10px;
    height: 20px;
    width: 200px;
    color: #365279;
}

#countryId {
    margin-bottom: 10px;
    height: 28px;
    margin-left: 20px;
    width: 208px;
}

#countrycodeid {
    width: 30px;
    margin-left: 44%;
}

.buttonclass {
    display: flex;
    justify-content: space-evenly;
}


#noId {

    margin-right: 150px;
}
.chan{
    margin-right: -70px;

}

#phoneId {
    width: 150px;
}

#submitId,
#clearId {
    color: white;
    height: 25px;
    width: 100px;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #365279;
}